@keyframes marqueeBarLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.announcementBar {
  display: flex;
  flex-direction: column;
  height: 25px;
  overflow: hidden;

  background-color: var(--pallete-brightWhite);
  padding: 5px 0;
  font-size: 17px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.509);
  position: relative;
  z-index: 100;
}

.marquee {
  max-width: 99vw;
  white-space: nowrap;
  animation: marqueeBarLoop 10s linear infinite;
}

.marquee p {
  margin-right: 15px; /* Space between repeated texts */
  display: inline-block;
  font-family: "Fuzzy Bubbles";
  color: black;
}

.callout {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem 1.3rem;
  font-family: "Montserrat";
  box-shadow: 3px 3px 0px 0.5px rgba(0, 0, 0, 0.795);
  margin-bottom: 1rem;
}

.calloutText {
  padding-bottom: 7px;
}

.x-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.x-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.x-button:focus {
  outline: none; /* Remove default focus outline */
}

@media (max-width: 768px) {
  .callout {
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.8rem;
  }
}
