.adminHeader {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.headerItem {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  gap: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px 15px;
  background-color: white;
}

@media (max-width: 768px) {
  .headerDate {
    display: none;
  }
}
