.greencardcontainer {
  background-color: var(--pallete-brightWhite);
  border: 5px solid var(--pallete-darkBrownTextColors);
  box-shadow: 4px 4px var(--pallete-darkGreen);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.greencardcontainer img {
  position: absolute;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 5px solid var(--pallete-darkBrownTextColors);
  top: -25px;
  border-radius: 50%;
  background-color: white;
}

.sharpCardLightShadowContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--pallete-brightWhite);
  padding: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.249);
}
