#aetaLearningCenterPage {
  background-color: var(--pallete-lightGreen);
  padding-top: 50px;
  margin: 0;
  display: block;
  z-index: 1;
  position: relative;
}

.ALCContentContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(4vw, 5vw, 6vw);
  padding: 50px 10px;
  min-height: calc(100vw + 175px);
}

.progressInfoContainer {
  padding: none;
  padding-top: 1rem;
}

.progressInfoText {
  font-size: 0.7rem;
  background-color: var(--pallete-brightWhite);
  padding: clamp(1vw, 2vw, 3vw);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 0px black;
  pointer-events: all;
  margin-bottom: 10vh;
}

.progressTitle {
  background-color: var(--pallete-brightWhite);
  border: 1px solid black;
  box-shadow: 3px 3px 0px black;
  border-radius: 3px;
  font-family: "Fuzzy Bubbles";
  font-size: 0.8rem;
  transform: rotate(2deg);
}

.progressImageContainer {
  flex-direction: column;
  gap: 20px;
  pointer-events: all;
}

.progressTitle {
  padding: clamp(3px, 0.5vw, 7px) clamp(10px, 1vw, 20px);
  font-size: 1rem;
}

.progressImage {
  max-width: 100%;
  border: 2px solid black;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.731);
}

@media (min-width: 625px) {
  .ALCContentContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: clamp(4vw, 5vw, 6vw);
    padding: 6vh 7vw 30vh 11vw;
    overflow: hidden;
    min-height: 40vh;
  }

  .progressInfoText {
    margin-bottom: 0px;
    font-size: 1rem;
  }

  #postsContainer {
    margin: 0px 50px;
  }

  #igPost {
    max-width: 300px;
  }

  #facebookPost {
    max-width: 313px;
  }

  #twitterPost {
    max-width: 383px;
  }

  .folderDateText {
    font-size: 1.2vw;
  }
}

@media (min-width: 1095px) {
  .ALCContentContainer {
    padding: 6vh clamp(17vw, 17.5vw, 18vw) 30vh;
  }

  .progressTitle {
    padding: clamp(5px, 0.5vw, 10px) clamp(10px, 1vw, 20px);
    font-size: 1.2rem;
  }

  .progressImage {
    max-width: 100%;
  }
}

@media (min-width: 1192px) {
  #igPost {
    width: 300px;
    position: relative;
    top: -100px;
  }

  #facebookPost {
    width: 313px;
  }

  #twitterPost {
    position: relative;
    top: -50px;
    width: 383px;
  }
}

#socmedHalf {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
  background-color: var(--pallete-yellow);
  margin-top: 400px;
}

#postsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  grid-area: 1 / 1;
  z-index: 6;
  position: relative;
  bottom: 170px;
  pointer-events: initial;
}

#postsContainer a {
  cursor: auto;
}

#curveSectionSVG {
  width: 100%;
  grid-area: 1 / 1;
  z-index: 5;
}

.socmedPost {
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.422);
  transition: transform 0.3s;
  cursor: pointer;
}

.socmedPost:hover {
  transform: translateY(-20px);
}

#igPost,
#facebookPost,
#twitterPost {
  max-width: 300px;
}
