#homePage {
  padding: 30px 30px;
  margin: 0;
  height: 75vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
}

#btnVolunteerAndAboutContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

#bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

#btnVolunteer {
  font-family: "ChunkFive";
  font-weight: bold;
  color: var(--pallete-logo-green);
  background-color: var(--pallete-logo-white);
  border: 2px solid var(--pallete-logo-green);
  border-radius: 35px;
  height: 55px;
  width: 140px;
  font-size: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.409);
  cursor: pointer;
  transition: all 0.3s;
}

#btnVolunteerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  font-family: "ChunkFive";
}

#btnVolunteerAboutContainer {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  color: var(--pallete-logo-green);
  background-color: var(--pallete-logo-white);
  border: 2px solid var(--pallete-logo-green);
  font-weight: bold;
  font-size: 17px;
  padding: 0;
  transition: all 0.3s;
}

#iButtonInfoContainer {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  transform: translateX(-63%) translateY(-110%);
  width: 220px;
  min-height: 137px;
  font-family: "Fuzzy Bubbles";
  font-size: 0.7rem;
  background-image: none;
  background-color: var(--pallete-brightWhite);
  border-radius: 5px;
  border: 2px solid white;
  background-size: contain;
  padding: 20px 20px;
  background-repeat: no-repeat;
  color: var(--pallete-shadowColor);
}

#dialogThemedInfoText {
  font-size: 0.7rem;
  text-align: left;
}

#btnVolunteer:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px black;
}
#btnVolunteerAboutContainer:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px black;
}

@media (min-width: 720px) {
  #homePage {
    padding: 50px 80px;
  }

  #btnVolunteer {
    font-weight: bold;
    border-radius: 35px;
    height: 70px;
    width: 200px;
    font-size: 1.4rem;
    cursor: pointer;
  }

  #btnVolunteer:hover {
    color: var(--pallete-lightYellow);
    background-color: var(--pallete-logo-green);
    border: 2px solid var(--pallete-logo-green);
    text-shadow: 1px 1px 0px var(--pallete-black);
  }
  #btnVolunteerAboutContainer:hover {
    color: var(--pallete-lightYellow);
    background-color: var(--pallete-logo-green);
    border: 2px solid var(--pallete-logo-green);
    text-shadow: 1px 1px 0px var(--pallete-black);
  }

  #iButtonInfoContainer {
    width: 450px;
    height: 167px;
    transform: translateX(-42%) translateY(-10px);
    font-size: 0.85rem;
    background-image: url("../../../assets/images/Graphics/WEBSITE_Graphics/Sprites/dialogThemedPlaceholder.svg");
    background-position: center;
    background-color: transparent;
    border-radius: none;
    bottom: 30px;
    border: none;
    text-shadow: none;
  }

  #dialogThemedInfoText {
    font-family: "Montserrat";
    font-size: 0.75rem;
    margin: 5px 20px;
    text-align: justify;
  }
}
