#partnershipsPage {
  padding: 180px 0px;
  width: 100%;
  height: auto;
  background-color: var(--pallete-logo-green);
}

#partnershipsContainer {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 0px;
  row-gap: 60px;
  align-items: center;
}

#partnershipsRow1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.pLogoContainer {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--pallete-brightWhite);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.502);
  transition: all 0.3s;
}

.pLogoContainer:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px black;
}

.pLogo {
  width: 100%;
  border-radius: 10%;
}

#partnershipsRow2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#partnershipsPage h1 {
  color: var(--pallete-logo-white);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.55);
  font-size: 2rem;
  max-width: 500px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

#partnershipsRow3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.pyramidGroup {
  display: flex;
  max-width: 500px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

#partnershipsPage h1 {
  font-size: clamp(1.8rem, 7vw, 3rem);
}

@media (min-width: 600px) {
  .pLogoContainer {
    width: 100px;
    height: 100px;
  }

  #partnershipsPage h1 {
    font-size: 3.5rem;
  }
  #partnershipsContainer {
    padding: 50px;
  }
}

@media (min-width: 1245px) {
  #partnershipsRow2 {
    flex-direction: row;
  }
  .pyramidGroup {
    max-width: 280px;
  }

  #partnershipsRow1,
  #partnershipsRow3,
  #pyramidGroup1,
  #pyramidGroup2,
  #ptHeading {
    transition: 1s ease;
  }

  #partnershipsRow1 {
    transform: translateY(140px);
  }
  #partnershipsRow3 {
    transform: translateY(-140px);
  }
  #pyramidGroup1 {
    transform: translateX(240px);
  }
  #pyramidGroup2 {
    transform: translateX(-240px);
  }
  #partnershipsPage h1 {
    transform: scale(0.4);
  }

  #partnershipsRow1.spread,
  #partnershipsRow3.spread,
  #pyramidGroup1.spread,
  #pyramidGroup2.spread,
  #ptHeading.spread {
    transform: translate(0px) scale(1);
  }
}
