@import url("animations.css");

:root {
    --pallete-green: #347928;
    --pallete-lightGreen: #C0EBA6;
    --pallete-brightWhite: #FFFBE6;
    --pallete-lightYellow: #FFF1A7;
    --pallete-yellow: #FCCD2A;
    --pallete-shadowColor: #371C05;
    --pallete-greenTextColor: #083800;
    --pallete-brownTextColor: #442609;
    --pallete-brownBackgroundColor: #A75629;
    --pallete-lightOrangeBackgroundColor: #FFA048;
    --pallete-redOrangeBackgroundColor: #FF4026;
    --pallete-lightBlue: #7B98FF;
    --pallete-purple: #C148EB;
}

p {
    margin: 0;
}

h2 {
    margin: none;
    padding: none;
}

body {
    margin: 0;
    font-family: 'Segoe UI';
}

.lightCartoonyBorder {
    border: 1px solid black;
}

.cartoonyBorder {
    border: 3px solid black;
}

.cartoonyComponentShadow {
    box-shadow: 4px 4px 0px black;
}

.cartoonyTextBorder {
    text-shadow: 2.5px 0 #000000, 
                -2.5px 0 #000000, 
                0 2.5px #000000, 
                0 -2.5px #000000,
               2px 2px #000000, 
               -2px -2px #000000, 
               2px -2px #000000, 
               -2px 2px #000000;
}

.lightTextBorder {
    text-shadow: 2px 0 #000000, 
                -2px 0 #000000, 
                0 2px #000000, 
                0 -2px #000000,
            1px 1px #000000, 
            -1px -1px #000000, 
            1px -1px #000000, 
            -1px 1px #000000;
}

.lightTextBorderWithShadow {
    text-shadow: 2px 0 #000000, 
                -2px 0 #000000, 
                0 2px #000000, 
                0 -2px #000000,
            1px 1px #000000, 
            -1px -1px #000000, 
            1px -1px #000000, 
            -1px 1px #000000,
            5px 5px var(--pallete-shadowColor);
}

.corben {
    font-family: 'Corben';
    font-weight: bold;
}



.announcementBar {
    max-width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: var(--pallete-brightWhite);
    font-family: 'Fuzzy Bubbles';
    padding: 5px 0px;
    font-size: 17px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.509);
    position: relative;
    z-index: 100;
}
  
.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marqueeBarLoop 10s linear infinite;
}

.marquee p {
    display: inline-block;
}

.flex-center {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    padding: 0;
}

.flex-center-alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteMessage {
    font-family: "Annie Use Your Telescope";
    background-color: var(--pallete-brightWhite);
    padding: 30px 100px;
    text-align: center;
    width: 75%;
    transform: rotate(0.5deg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.249);
}

.pageDivider {
    width: 100%;
    height: 30px;
    background-color: var(--pallete-brightWhite);
}