:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* main pallete */
  --pallete-hunterGreen: #4c6444;
  --pallete-green: #347928;
  --pallete-greenTextColor: #083800;
  --pallete-darkGreen: #102820;
  --pallete-lightGreen: #c0eba6;
  --pallete-paleGreen: #e9f3e6;
  --pallete-brightWhite: #fffbe6;
  --pallete-lightYellow: #fff1a7;
  --pallete-standardYellow: #dfc04b;
  --pallete-yellow: #fccd2a;
  --pallete-lightBrown: #fde7c0;
  --pallete-shadowColor: #371c05;
  --pallete-brownTextColor: #442609;
  --pallete-black: #00100b;
  /* folder colors */
  --pallete-brownBackgroundColor: #a75629;
  --pallete-lightOrangeBackgroundColor: #ffa048;
  --pallete-redOrangeBackgroundColor: #ff4026;
  --pallete-lightBlue: #7b98ff;
  --pallete-purple: #c148eb;
}

@font-face {
  font-family: "ChunkFive";
  src: url("/fonts/ChunkFive.otf") format("opentype");
}

@font-face {
  font-family: "GlacialIndifference";
  src: url("/fonts/GlacialIndifference.otf") format("opentype");
}
