@import url("generalStyles.css");

#reelsPage {
    width: 100%;
    background-color: var(--pallete-yellow);
    padding: 50px 0px;
    margin: 0;
    position: relative;
}

#reelsPageWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1300px;
    margin-inline: auto;
    padding: 0px 50px;
    position: relative;
    z-index: 3;
}

#starLeft, #starRight {
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#starLeft img, #starRight img{
    max-width: 150px;
}
#starLeft {
    left: 0;
}
#starRight {
    right: 0;
}

#reelsTiktokLogoContainer {
    width: 80px;
    height: 80px;
    background-color: var(--pallete-brightWhite);
    padding: 15px;
    border-radius: 55px;
}

#reelsTiktokLogoContainer img{
    width: 100%;
}

#reelsContainer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#reelsContainer video{
    margin-right: 20px;
    width: 230px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.543);
}

#edukParaSaLahatContainer {
    display: flex;
    justify-content: center;
}

#edukParaSaLahatContainer img {
    width: 180px;
}

/* @media (min-width: 1078px) {
	#reelsPage {
		grid-template-columns: 12% 76% 12%;
	}
}

@media (min-width: 1355px) {
	#reelsPage {
		grid-template-columns: 10% 80% 10%;
	}
} */