#footerLogo {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px yellow;
  transition: transform 0.3s;
}

#footerLogo:hover {
  transform: scale(1.2);
}

#footerMainContainer {
  padding: 0px 20px;
}

.footerSectionTitle {
  font-family: "Montserrat";
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--pallete-brightWhite);
  margin-bottom: 0.5rem;
  border-bottom: 3px solid var(--pallete-yellow);
  padding-bottom: 0.5rem;
  max-width: 120px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#footerInfoContainer {
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 70px;
  color: var(--pallete-brightWhite);
}

.footerLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
}

.footerLink {
  color: var(--pallete-brightWhite);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  transition: color 0.3s;
}

.footerLink:hover {
  color: var(--pallete-yellow);
}

.footerh2 {
  font-family: "Montserrat";
  text-align: left;
}

@media screen and (max-width: 768px) {
  #footerInfoContainer {
    grid-template-columns: 1fr;
  }
}
