header {
  display: flex;
  position: fixed;
  justify-content: right;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}

#menuToggleContainer {
  display: flex;
  justify-content: right;
}

.checkbtn {
  display: block;
  width: 50px;
  cursor: pointer;
}

#check {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0px;
}

nav {
  display: flex;
  align-items: end;
  flex-direction: column;
  height: auto;
  padding: 10px;
}

.navLinks {
  color: white;
  transition: all 0.3s;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  text-decoration: none;
  padding: 7px;
}

nav ul li {
  font-family: "Montserrat", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
  background-color: var(--pallete-brightWhite);
  color: var(--pallete-brownTextColor);
}

#volunteerLi {
  display: none;
}

#volunteer {
  display: none;
}

#volunteer:hover {
  color: var(--pallete-yellow);
}

header svg {
  width: 50px;
}

#ulNav {
  display: flex;
  gap: 7px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  flex-direction: column;
  max-width: 130px;
  height: auto;
  background-color: var(--pallete-green);
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
}

#check:checked ~ #ulNav {
  opacity: 1;
}

@media (min-width: 1080px) {
  header {
    justify-content: center;
  }

  header svg {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1340px;
    padding: 0px;
  }

  #ulNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 1200px;
    gap: 0.5rem;
    padding: 0px;
    margin: 0px 80px;
    margin-top: 10px;
    border-radius: 2rem;
    opacity: 1;
    transition: 1s ease;
    transform-origin: top;
  }

  #ulNav.shrink {
    transform: scale(0.8);
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .checkbtn {
    display: none;
    width: 50px;
    cursor: pointer;
  }

  nav ul li {
    font-size: 0.7rem;
    padding: 0.2rem 0rem;
    margin: 0px 5px;
    border-radius: 2rem;
    max-width: 200px;
    font-size: clamp(1rem, 1vw, 1.1rem);
  }

  #volunteerLi {
    display: block;
  }

  #volunteer {
    display: block;
    font-family: "Corben";
    font-weight: bold;
    font-size: 1.2rem;
    min-width: 70px;
    text-decoration: none;
    color: white;
    border-radius: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
  }
}
