#homePage {
  padding: 30px 30px;
  margin: 0;
  height: 75vh;
  background-image: url("/images/homePage/backgroundImage.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
}

#btnVolunteerAndAboutContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

#bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

#btnVolunteer {
  font-family: "Corben";
  font-weight: bold;
  color: var(--pallete-yellow);
  background-color: #fffbe6;
  border-radius: 35px;
  height: 55px;
  width: 140px;
  font-size: 0.9rem;
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1.5px 1.5px #000000, -1.5px -1.5px #000000, 1.5px -1.5px #000000,
    -1.5px 1.5px #000000;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

#btnVolunteerAboutContainer {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background-color: var(--pallete-brightWhite);
  font-weight: bold;
  font-size: 17px;
  padding: 0;
  border: 1px solid black;
  transition: transform 0.3s, box-shadow 0.3s;
}

#iButtonInfoContainer {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  transform: translateX(-42%) translateY(-105%);
  width: 250px;
  min-height: 137px;
  font-family: "Fuzzy Bubbles";
  font-size: 0.8rem;
  background-image: none;
  background-color: var(--pallete-brightWhite);
  border-radius: 5px;
  border: 1px solid black;
  background-size: contain;
  padding: 30px 20px;
  background-repeat: no-repeat;
  color: var(--pallete-shadowColor);
}

#btnVolunteerAbout {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 22px;
  text-align: center;
  margin: 0;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 15px;
}

#btnVolunteer:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px black;
}
#btnVolunteerAboutContainer:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px black;
}

@media (min-width: 720px) {
  #homePage {
    padding: 50px 80px;
  }

  #btnVolunteer {
    font-family: "Corben";
    font-weight: bold;
    color: #fccd2a;
    background-color: #fffbe6;
    border-radius: 35px;
    height: 70px;
    width: 200px;
    font-size: 1.2rem;
    border: 3px solid black;
    box-shadow: 4px 4px 0px black;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
      1.5px 1.5px #000000, -1.5px -1.5px #000000, 1.5px -1.5px #000000,
      -1.5px 1.5px #000000;
    cursor: pointer;
  }

  #btnVolunteer:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px black;
  }
  #btnVolunteerAboutContainer:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px black;
  }

  #iButtonInfoContainer {
    width: 450px;
    height: 167px;
    transform: translateX(-42%);
    font-size: 0.85rem;
    background-image: url("/images/homePage/dialogThemedPlaceholder.svg");
    background-color: transparent;
    border-radius: none;
    bottom: 30px;
    border: none;
  }
}
