header {
    position: fixed;
    display: flex;
    flex-direction: column;
    
    align-items: right;
    text-align: right;
    width: 100%;
    z-index: 9999;
}

#menuToggleContainer, #navBarContainer{
    display: flex;
    justify-content: right;
}

#navBarContainer {
    margin-right: 10px;
}

.checkbtn {
    display: block;
    width: 50px;
    cursor: pointer;
}

#check {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    border-radius: 12px;
}

.navLinks {
    color: white;
    transition: all 0.3s;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px;
}

nav ul li {
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
    background-color: var(--pallete-brightWhite);
    color: var(--pallete-brownTextColor);
}

#volunteer {
    display: none;
    font-family: "Corben", cursive;
    font-weight: bold;
    font-size: 22px;
    min-width: 70px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#volunteer:hover {
    color: var(--pallete-yellow);
}

header svg {
    margin: -40px -10px;
    width: 50px;
}

#ulNav {
    position: fixed;
    display: flex;
    gap: 7px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    flex-direction: column;
    max-width: 130px;
    height: auto;
    background-color: var(--pallete-green);
    top: 60px;
    right: 10px;
    text-align: center;
    transition: all .5s;
    opacity: 0;
}

#check:checked ~ #ulNav {
    opacity: 1;
}

@media (min-width:1080px){
    header {
        justify-content: center;
    }
    
    header svg {
        display: none;
    }

    #navBarContainer {
        justify-content: center;
        margin: 0px 80px;
    }

    #navBar {
        justify-content: center;
        margin: 0px 80px;
    }

    #ulNav {
        position: fixed;
        top: 0px;
        right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.7fr 1fr 1fr 1fr;
        width: 100%;
        max-width: 1200px;
        gap: 0.5rem;
        padding: 0px;
        padding-right: 13px;
        margin: 0px 10px;
        margin-top: 10px;
        border-radius: 2rem;
        opacity: 1;
        transition: 1s ease;
        transform-origin: top;
    }

    #ulNav.shrink {
        transform: scale(0.8);
    }

    #ulNav li a {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .checkbtn {
        display: none;
        width: 50px;
        cursor: pointer;
    }

    nav ul li {
        font-size: 1rem;
        padding: 0.2rem 1vw;
        border-radius: 2rem;
        max-width: 200px;
        font-size: clamp(1rem, 1vw, 1.1rem);
    }

    #volunteer {
        display: block;
        padding: 0px 5px;
        font-size: clamp(1.2rem, 1vw, 1.3rem);
    }
}