@import url("generalStyles.css");

#socmedHalf {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    background-color: var(--pallete-yellow);
    margin-top: 400px;
}

#postsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    grid-area: 1 / 1;
    z-index: 6;
    position: relative;
    bottom: 170px;
}

#curveSectionSVG {
    width: 100%;
    grid-area: 1 / 1;
    z-index: 5;
}

.socmedPost {
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.422);
}

#igPost, #facebookPost, #twitterPost {
    max-width: 300px;
}